{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>All news:</h1>
   <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
   <h2>{{ news|length}} posts </h2>
    <h3>{{ time_now|date:'d M Y' }}</h3>
   <hr>
   {% if news %}
       <table>
           <tr>
               <td>title</td>
               <td>dateCreation</td>
               <td>text</td>
           </tr>

           {% for each_news in news %}
           <tr>
               <td>{{ each_news.title|censor }}</td>
               <td>{{ each_news.dateCreation }}</td>
               <td>{{ each_news.text|censor|truncatewords:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>No news!</h2>
   {% endif %}
{% endblock content %}